Repository chilipot/TRACE-API, pull requests merged in 2019-05, with the labels that each got.

#37 Feature/add filter endpoints
  README.md
  trace/api/controller/department_controller.py
  trace/api/controller/instructor_controller.py
  trace/api/controller/report_controller.py
  trace/api/controller/term_controller.py
  trace/api/manage.py
  trace/api/service/department_service.py
  trace/api/service/instructor_service.py
  trace/api/utils/helpers.py
Labels: API, Feature

#38 Feature/add searching for instructors and departments
  trace/api/controller/department_controller.py
  trace/api/controller/instructor_controller.py
  trace/api/model/course.py
  trace/api/model/department.py
  trace/api/model/instructor.py
  trace/api/model/mixins/BaseSearchable.py
  trace/api/model/mixins/CourseSearchable.py
  trace/api/model/mixins/DepartmentSearchable.py
  trace/api/model/mixins/InstructorSearchable.py
  trace/api/model/mixins/Searchable.py
  trace/api/model/mixins/__init__.py
  trace/api/service/department_service.py
  trace/api/service/instructor_service.py
  trace/pipeline/__init__.py
  trace/pipeline/authentication.py
  trace/pipeline/complex_json_encoder.py
  trace/pipeline/config.ini
  trace/pipeline/indexing/__init__.py
  trace/pipeline/indexing/index_setup.py
  trace/pipeline/indexing/other_index_setup.py
  trace/pipeline/indexing/other_index_setup2.py
  trace/pipeline/jsonprep.py
  trace/pipeline/sql_object_converter.py
  trace/pipeline/trace.py
Labels: API, Feature

#43 Serverless implementation
  trace/.circleci/config.yml
  trace/README.md
  trace/package-lock.json
  trace/package.json
  trace/serverless.yml
Labels: API, Critical, Feature

#51 Feature/fix pipeline code and imports
  pipeline/jsonprep.py
  pipeline/sql_object_converter.py
  requirements-pipeline.txt
Labels: API, Bug

#52 Feature/serverless transition pt2
  api/__init__.py
  api/controller/department_controller.py
  api/controller/instructor_controller.py
  api/controller/report_controller.py
  api/controller/term_controller.py
  api/model/mixins/BaseSearchable.py
  api/utils/helpers.py
Labels: API, Feature

#54 Patch/app environment in serverless config
  CHANGELOG.md
  serverless.yml
Labels: API, Bug, Critical

#55 new index setup + config
  api/config.py
  pipeline/indexing/index_setup.py
  pipeline/indexing/other_index_setup.py
  pipeline/indexing/other_index_setup2.py
Labels: API, Critical, Feature

#56 Patch/pin serverless version to non broken
  package.json
Labels: API, Bug, Critical

#57 Feature/filtering courses by term department instructor
  api/controller/department_controller.py
  api/controller/instructor_controller.py
  api/controller/report_controller.py
  api/controller/term_controller.py
  api/model/mixins/BaseSearchable.py
  api/model/mixins/__init__.py
  api/service/department_service.py
  api/service/instructor_service.py
  api/service/report_service.py
  api/service/term_service.py
  api/utils/helpers.py
Labels: API, Feature

#58 [#27] Adding Question Categories
  api/controller/report_controller.py
  api/controller/survey_controller.py
  api/manage.py
  api/model/__init__.py
  api/model/answer.py
  api/model/comment.py
  api/model/lookup_answer.py
  api/model/lookup_question.py
  api/model/lookup_questiontext.py
  api/model/mixins/Dictable.py
  api/model/question.py
  api/model/question_category.py
  api/model/score_data.py
  api/service/survey_service.py
Labels: API, Feature

#53 Release v0.2.0
  CHANGELOG.md
  api/__init__.py
  api/config.py
  api/controller/department_controller.py
  api/controller/instructor_controller.py
  api/controller/report_controller.py
  api/controller/survey_controller.py
  api/controller/term_controller.py
  api/manage.py
  api/model/__init__.py
  api/model/answer.py
  api/model/comment.py
  api/model/course.py
  api/model/department.py
  api/model/instructor.py
  api/model/lookup_answer.py
  api/model/lookup_answertext.py
  api/model/lookup_question.py
  api/model/lookup_questiontext.py
  api/model/mixins/BaseModel.py
  api/model/mixins/BaseSearchable.py
  api/model/mixins/CourseSearchable.py
  api/model/mixins/DepartmentSearchable.py
  api/model/mixins/Dictable.py
  api/model/mixins/InstructorSearchable.py
  api/model/mixins/Searchable.py
  api/model/mixins/__init__.py
  api/model/question.py
  api/model/question_category.py
  api/model/score_data.py
  api/model/term.py
  api/service/department_service.py
  api/service/instructor_service.py
  api/service/report_service.py
  api/service/survey_service.py
  api/service/term_service.py
  api/utils/helpers.py
  package.json
  pipeline/indexing/index_setup.py
  pipeline/indexing/other_index_setup.py
  pipeline/indexing/other_index_setup2.py
  pipeline/jsonprep.py
  requirements-pipeline.txt
  requirements.txt
  serverless.yml
Labels: API, Release
